#body01 {
    background: url("/static/img/background2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black;
  color: #56ff9c;
}

.topnav a.active {
  background-color: black;
  color: #56ff9c;
}

.box-transparent {
    position: fixed;
    top: 150px;
    bottom: 80px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.box-transparent h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: "Trebuchet MS";
}

.box-transparent hr {
    border: 1px solid rgb(255, 255, 255, 0.6);
    margin-left: 120px;
    margin-right: 120px;
}

.about h1 {
    text-align: center;
    color: black;
    font-size: 60px;
}

.squadup h1 {
    text-align: center;
    color: black;
    font-size: 60px;
}

.squadup map {
    text-align: center;
    width:50px;
    height:400px
}

