<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
</head>
<body id="body01">
<div class="topnav">
  <a class="active" href="">Home</a>
  <a href="squadup">Squad Up</a>
  <a href="#contact">Contact</a>
  <a href="about">About</a>
</div>

<div class="box-transparent">
  <h1>Squad Up!</h1>
  <hr>
  <img src="/static/img/mapExample.JPG" alt="Map Example" style="margin-left:120px;margin-top:35px;width:450px;height:290px">
</div>

</body>
</html>